@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Cairo:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    outline: none;
    text-decoration: none;
}
a:hover{
    outline: none;
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    overflow-x: hidden;
}
nav.navbar{
    padding: 15px 90px;
}
nav a.navbar-brand{
    color: #000;
}
nav.navbar .navbar-nav .nav-item a{
    color: #000;
    margin-right: 50px;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 96, 128,0.3), rgba(77, 210, 255,0.3));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #006080 0%, #00ace6 0%, #4dd2ff 100%);
    opacity: .5;
    z-index: -1;
}
.navbar{
    width: 100%;
}
.navbar::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #006080 0%, #00ace6 0%, #4dd2ff 100%);
    opacity: .5;
    z-index: -1;
}
.navbar-toggler{
    border: 2px solid #fff;
}
.navbar-toggler i{
    color: #fff;
    font-size: 16px;
}
.navbar-brand{
    font-size: 35px;
    font-weight: 500;
}
nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li.active a.nav-link {
    color: #00ace6;
    background-color: #ffffffff;
}
nav.navbar.noTransparrent{
    padding: 8px 90px;
}
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link{
    color: #fff;
}
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li.active a.nav-link{
    color: #fff;
    background-color: #16aeca;
}
nav.navbar.noTransparrent .navbar-brand img{
    width: 35px;
    height: 35px;
    font-size: 25px;
    font-weight: 300;
}
nav.navbar.noTransparrent{
    border-bottom: 1px solid #eee;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .5);
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
}
.scroll-btn {
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
     padding: 10px 10px 20px;
     border-radius: 30px;
}
.scroll-bar span{
    border: 5px solid #fff;
    font-size: 10px;
    border-radius: 50%;
}
.scroll-bar {
    animation: mover 0.5s infinite alternate;
}
@keyframes mover {
    0%{transform: translateY(0);}
    0%{transform: translateY(10px);}
}
/**********************about*****************/
.about{
    background: #eee;
    padding: 100px;
}
.about h1{
    margin-bottom: 50px;
    padding-top: 50px;
}
.about .about-img{
    height: 400px;
    width: 400px;
}
/**********************book-one*****************/
.book-one{
    padding: 50px;
}
.book-one .img img{
    height: 600px;
    width: 400px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}
.book-one h1{
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 120px;
}
.book-one p{
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
    white-space: normal;
}
.book-one .book-one-button a{
    margin-left: 20px;
    padding: 10px 50px;
}
.book-one .book-one-button a:hover{
    color: #fff;
}
/***********************book-two*********************/
.book-two{
    padding: 50px;
    background: #eee;
}
.book-two .img img{
    height: 600px;
    width: 400px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}
.book-two h1{
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 100px;
}
.book-two p{
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
    white-space: normal;
}
.book-two .book-two-button a{
    margin-left: 20px;
    padding: 10px 50px;
}
.book-two .book-two-button a:hover{
    color: #fff;
}
/*****************book-three*****************/
.book-three{
    padding: 50px;
    background: #fff;
}
.book-three .img img{
    height: 600px;
    width: 400px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}
.book-three h1{
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 100px;
}
.book-three p{
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
    white-space: normal;
}
.book-three .book-two-button a{
    margin-left: 20px;
    padding: 10px 50px;
}
.book-three .book-two-button a:hover{
    color: #fff;
}
/**************************contact**********************/
section.contacts{
    background-color: #eee;
    padding-top: 100px;
}
section.contacts .info h3{
    font-size: 24px;
    line-height: 50px;
    color: #181c1c;
    font-weight: bold;
    padding-top: 100px;

}

section.contacts .info ul {
    padding: 0;
}
section.contacts .info ul li i{
    margin-left: 6px;
}
section.contacts .form h3{
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
    color: #181c1c;
    margin: 50px auto 20px;
}
section.contacts .form form input,
section.contacts .form form textarea {
    background-color: #f7f7f7;
    border: 2px solid #eee;
    border-radius: 3px;
    color: #5c5c5c;
    font-family: ar-font;
    font-size: 15px;
    line-height: 25px;
}
section.contacts .cmxform{
    width: 60%;
    margin: 0 auto 50px;
}
section.contacts .form form .error{
    color: red;
}
/*********************social icon*************/
#social-media {
    padding: 60px 0;
}
#social-media h3{
    margin-bottom: 100px;
}
.social-icons ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
}
.social-icons ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}
.social-icons ul li:hover span{
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .1);
}
.social-icons ul li:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}
.social-icons ul li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: .8;
}
.social-icons ul li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 0.6;
}
.social-icons ul li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: .4;
}
.social-icons ul li:hover span:nth-child(1){
    transform: translate(0,0);
    opacity: .2;
}
.social-icons ul li:nth-child(1) span {
    background: #3b5999;
}
.social-icons ul li:nth-child(2) span {
    background: #55acee;
}
.social-icons ul li:nth-child(3) span {
    background: #dd4b39;
}
.social-icons ul li:nth-child(4) span {
    background: #0077b5;
}
.social-icons ul li:nth-child(5) span {
    background: #e4405f;
}
.form-group{
    position: relative;
}

.contacts  .form-control{
    padding-right: 45px;
}
/********************footer****************/
footer{
    background-color: #232323;
    direction: rtl;
}
footer .footer .widget .title h4{
    font-size: 24px;
    color: #f4f8fb;
    line-height: 80px;
    text-align: right;
}
footer .footer .widget .title{
    margin-bottom: 35px;
    border-bottom: 2px solid #272727;
    position: relative;
}
footer .footer .widget .content p {
    font-size: 18px;
    line-height: 40px;
    color: #757474;
}
footer .footer .widget .content ul.social-links li a{
    width: 50px;
    height: 50px;
    color: #fff;
    display: block;
    border-radius: 50%;
    background-color: #353638;
    text-align: center;
    line-height: 50px;
}
footer .footer .widget .content ul.social-links li a:hover{
    background-color: #00ace6;
}
footer .footer .widget .content ul.social-links{
    padding: 0px;
    margin-top: 95px;
}
footer .footer .widget .content ul.social-links li{
    margin-right: 10px;
}
footer .footer .widget .content ul.twittes{
    padding: 0;
}
footer .footer .widget .content ul.twittes li{
    font-size: 15px;
    color: #757474;
    line-height: 24px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #2a2929;
    position: relative;
    text-indent: 20px;
    padding-right: 5px;
    text-align: center;
}
footer .footer .widget .content ul.twittes li:last-of-type{
    border-bottom: 0;
    margin-bottom: 0;
}
footer .footer .widget .content form input{
    font-size: 14px;
    color: #c6c6c6;
    line-height: 25px;
    background-color: #2c2b2b;
    font-family: ar-font;
    border-radius: 0;
    border-color: transparent;
    margin-bottom: 15px;
}
footer .footer .widget .content form button{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
footer .copyright {
    border-top: 2px solid #262626;
}
footer .copyright p{
    font-size: 15px;
    line-height: 70px;
    color: #565656;
    text-align: center;
    margin-bottom: 0;
}
footer .footer .widget .content form .error{
    color: red;
}
.flex-container {
    display: flex;
    flex-direction: row-reverse;
}
/************************************book-one page****************/
.custom-breadcrumb{
    background-color: transparent;
    padding: 50px 0;
    padding-bottom: 20px;
}
.custom-breadcrumb a {
    color: #555555;
    text-decoration: none;
}
.custom-breadcrumb>li+li::before{
    content: " >";
    color: #555555;
    padding: 0 5px;
}
.custom-breadcrumb .active{
    color: #bfbfbf;
}
.book-one-container{
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.book-one-info h1{
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 90px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.book-one-info img{
    height: 500px;
    width: 350px;
    margin-left: 80px;
    transform: rotate(20deg);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
    margin-bottom: 100px;
}
/*************details******************/
.book-details h1{
    font-weight: bolder;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.book-details ul{
    text-align: right;
}

.book-details ul li p{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

/*******************slide*****************/
.slide-section{
    width: 100%;
    height: auto;
    padding: 80px 200px;
    background: #eee;
}
.slide-section img{
    width: 300px;
    height: 400px;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -80px;
}

/********comments*************/
.comments, .comments-2{
    width: 100%;
    margin: 10px 0;
    padding-top: 20px;
}
.comments h3{
    padding: 10px;
    font-weight: bold;
}

.comments .media img{
    width: 100px;
    height: 100px;
    margin: 0px 80px;
    margin-bottom: 20px;
}
.media-heading{
    text-align: right;
}
.comments .media .media-heading{
    font-size: 18px;
    margin-bottom: 10px;
}
.rating{
    color: #c2c2c2;
}
.rating .active {
    color: #f3af41;
}
.comments .book-one-button a{
    margin-left: 20px;
    padding: 10px 50px;
    margin: 50px 0;
}
.comments .book-one-button a:hover{
    color: #fff;
}
    /*****************book-two page**************/
.nav-book-2{
    background: linear-gradient(to right, #804000 0%, #994d00 0%, #e67300 100%);
    width: 100% ;
}
.book-two-info h1{
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 90px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.book-two-info img{
    height: 500px;
    width: 350px;
    margin-left: 60px;
    transform: rotate(20deg);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
    margin-bottom: 100px;
}
.custom-breadcrumb-2{
    background-color: transparent;
    padding: 50px 0;
    padding-bottom: 20px;
}
.custom-breadcrumb-2 a {
    color: #555555;
    text-decoration: none;
}

.custom-breadcrumb-2>li+li::before{
    content: " >";
    color: #555555;
    padding: 0 5px;
}
.custom-breadcrumb-2 .active{
    color: #bfbfbf;
}
.book-details-2 h1{
    font-weight: bolder;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.book-details-2 ul{
    text-align: right;
}

.book-details-2 ul li p{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}
.slide-section-2{
    width: 100%;
    height: auto;
    padding: 80px 200px;
    background: #eee;
}
.slide-section-2 .carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -80px;
}

.comments-2 .media img{
    width: 100px;
    height: 100px;
    margin: 0px 80px;
    margin-bottom: 20px;
}
.comments-2 .media-heading{
    text-align: right;
}
.comments-2 .comments .media .media-heading{
    font-size: 18px;
    margin-bottom: 10px;
}
.rating{
    color: #c2c2c2;
}
.rating .active {
    color: #f3af41;
}

footer{
    background-color: #232323;
    direction: rtl;
}
footer .footer-2 .widget .title h4{
    font-size: 24px;
    color: #f4f8fb;
    line-height: 80px;
    text-align: right;
}
footer .footer-2 .widget .title{
    margin-bottom: 35px;
    border-bottom: 2px solid #272727;
    position: relative;
}

footer .footer-2 .widget .content p {
    font-size: 18px;
    line-height: 40px;
    color: #757474;
}
footer .footer-2 .widget .content ul.social-links li a{
    width: 50px;
    height: 50px;
    color: #fff;
    display: block;
    border-radius: 50%;
    background-color: #353638;
    text-align: center;
    line-height: 50px;
}
footer .footer-2 .widget .content ul.social-links{
    padding: 0px;
    margin-top: 95px;
}
footer .footer-2 .widget .content ul.social-links li{
    margin-right: 10px;
}
footer .footer-2 .widget .content ul.twittes{
    padding: 0;
}
footer .footer-2 .widget .content ul.twittes li{
    font-size: 15px;
    color: #757474;
    line-height: 24px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #2a2929;
    position: relative;
    text-indent: 20px;
    padding-right: 5px;
    text-align: center;
}
footer .footer-2 .widget .content ul.twittes li:last-of-type{
    border-bottom: 0;
    margin-bottom: 0;
}

footer .footer-2 .widget .content form input{
    font-size: 14px;
    color: #c6c6c6;
    line-height: 25px;
    background-color: #2c2b2b;
    font-family: ar-font;
    border-radius: 0;
    border-color: transparent;
    margin-bottom: 15px;
}
footer .footer-2 .widget .content form button{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
    /*****************book-three page**************/
    .nav-book-3{
        background: linear-gradient(to right, #990000 0%, #b30000 0%, #cc0000 100%);
        width: 100% ;
    }
    .book-three-info h1{
        font-weight: bolder;
        padding-top: 10px;
        padding-bottom: 90px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    }
    .book-three-info img{
        height: 500px;
        width: 350px;
        margin-left: 0;
        transform: rotate(20deg);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
        margin-bottom: 100px;
    }
    .custom-breadcrumb-3{
        background-color: transparent;
        padding: 50px 0;
        padding-bottom: 20px;
    }
    .custom-breadcrumb-3 a {
        color: #555555;
        text-decoration: none;
    }
    
    .custom-breadcrumb-3>li+li::before{
        content: " >";
        color: #555555;
        padding: 0 5px;
    }
    .custom-breadcrumb-3 .active{
        color: #bfbfbf;
    }
    .book-details-3 h1{
        font-weight: bolder;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    }
    .book-details-3 ul{
        text-align: right;
    }
    
    .book-details-3 ul li p{
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
    }
    .slide-section-3{
        width: 100%;
        height: auto;
        padding: 80px 200px;
        background: #eee;
    }
    .slide-section-3 .carousel-indicators{
        position: absolute;
        right: 0;
        bottom: -80px;
    }
    
    .comments-3 .media img{
        width: 100px;
        height: 100px;
        margin: 0px 80px;
        margin-bottom: 20px;
    }
    .comments-3 .media-heading{
        text-align: right;
    }
    .comments-3 .comments .media .media-heading{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .rating{
        color: #c2c2c2;
    }
    .rating .active {
        color: #f3af41;
    }
    
    footer{
        background-color: #232323;
        direction: rtl;
    }
    footer .footer-3 .widget .title h4{
        font-size: 24px;
        color: #f4f8fb;
        line-height: 80px;
        text-align: right;
    }
    footer .footer-3 .widget .title{
        margin-bottom: 35px;
        border-bottom: 2px solid #272727;
        position: relative;
    }
    
    footer .footer-3 .widget .content p {
        font-size: 18px;
        line-height: 40px;
        color: #757474;
    }
    footer .footer-3 .widget .content ul.social-links li a{
        width: 50px;
        height: 50px;
        color: #fff;
        display: block;
        border-radius: 50%;
        background-color: #353638;
        text-align: center;
        line-height: 50px;
    }
    footer .footer-3 .widget .content ul.social-links{
        padding: 0px;
        margin-top: 95px;
    }
    footer .footer-3 .widget .content ul.social-links li{
        margin-right: 10px;
    }
    footer .footer-3 .widget .content ul.twittes{
        padding: 0;
    }
    footer .footer-3 .widget .content ul.twittes li{
        font-size: 15px;
        color: #757474;
        line-height: 24px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #2a2929;
        position: relative;
        text-indent: 20px;
        padding-right: 5px;
        text-align: center;
    }
    footer .footer-3 .widget .content ul.twittes li:last-of-type{
        border-bottom: 0;
        margin-bottom: 0;
    }
    
    footer .footer-3 .widget .content form input{
        font-size: 14px;
        color: #c6c6c6;
        line-height: 25px;
        background-color: #2c2b2b;
        font-family: ar-font;
        border-radius: 0;
        border-color: transparent;
        margin-bottom: 15px;
    }
    footer .footer-3 .widget .content form button{
        border: 1px solid #fff;
        border-radius: 100px;
        margin: 0 5px;
        padding: 12px 35px;
        outline: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
    }
footer .copyright {
    border-top: 2px solid #262626;
}
footer .copyright p{
    font-size: 15px;
    line-height: 70px;
    color: #565656;
    text-align: center;
    margin-bottom: 0;
}
footer .footer .widget .content form .error{
    color: red;
}
/******************************media queries ***************/
@media (max-width: 1199.98px){
    .book-one .img img, .book-two .img img, .book-three .img img{
        height: 500px;
        width: 350px;
    }
    .book-one h1,.book-two h1, .book-three h1{
        font-size: 35px;
    }
    
    footer .footer .widget .content p{
        text-align: right;
    }
    section.contacts .info ul li{
        margin-right: 150px;
    }
    section.contacts .info h3{
        margin-right: 200px;
    }
    /*****************book-one page**************/
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }
    .slide-section, .slide-section-2, .slide-section-3{
        width: 100%;
        height: auto;
        padding: 80px 100px;
    }

}
@media (max-width: 991.98px){
    .navbar-nav{
        text-align: center;
    }
    .book-one .img img, .book-two .img img, .book-three .img img{
        height: 600px;
        width: 370px;
    }
    .about{
        padding: 50px;
    }
    .about .about-img{
        width: 100%;
        margin-top: 30px;
    }
    .book-one .book-one-button a,.book-two .book-two-button a, .book-three .book-two-button a{
        margin-bottom: 20px;
    }
    section.contacts .cmxform{
        width: 100%;
    }
    .map iframe{
        width: 500px;
        height: 300px;
    }
    section.contacts .info h3{
        font-size: 22px;
        padding-top: 30px;
    }
    section.contacts h3::before{
        width: 150px;
    }
    section.contacts .info ul li i{
        margin-right: 10px;
    }
    footer .footer .widget .content form button, footer .footer-2 .widget .content form button, footer .footer-3 .widget .content form button{
        font-size: 12px ;
    }
    footer .footer .widget .content p, footer .footer-2 .widget .content p,  footer .footer-3 .widget .content p{
        font-size: 12px;
        text-align: right;
    }
    /*****************book-one page**************/
    .slide-section, .slide-section-2, .slide-section-3{
        width: 100%;
        height: auto;
        padding: 80px 20px;
    }
    .slide-section img, .slide-section-2 img, .slide-section-3 .img{
        width: 280px;
        height: 400px;
    }
    .comments .media img, .comments-2 .media img, .comments-3 .media img{
        width: 100px;
        height: 100px;
        margin: 0px 20px;
        margin-bottom: 20px;
    }

}
@media (max-width: 767.98px){
    .header-p{
        margin: 10px 60px;
    }
    .social-icons ul li{
        width: 40px;
        height: 40px;
    }
    .social-icons ul li span{
        font-size: 25px;
    }
    section.contacts .cmxform{
        width: 100%;
    }
    .book-one .img img, .book-two .img img, .book-three .img img{
        width: 100%;
        height: 700px;
        margin-top: 50px;
    }
    section.contacts .info{
        text-align: center;
    }
    section.contacts .info h3{
        margin-right: 0;
    }
    section.contacts .info ul li{
        margin-right: -50px;
    }

}
@media (max-width: 575.98px){
    .map iframe{
        width: 100%;
    }
    .custom-breadcrumb, .custom-breadcrumb-2{
        padding-right: 30px;
    }
    .slide-section{
        width: 100%;
    }
    .book-details, .book-details-2{
        width: 100%;
        padding-right: 20px;
    }
}